.pageContainer {
  margin-top: 30px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #000070;
  font-weight: bold;
}

.table {
  cursor: pointer;
}

.tableRow:hover {
  background-color: #f0f8ff;
}

.tableHeader {
  background-color: #0d6efd;
  color: white;
  text-align: center;
}

.tableHeader th {
  vertical-align: middle;
}
