.centerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background-color: #f8f9fa; /* soft bootstrap-like background */
}

.formBox {
  max-width: 70%;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.formControl {
  margin-bottom: 20px;
  padding: 10px;
}

.submitButton{
    width: 100%;
    background-color: #000080;
}

/* Improve mobile experience */
@media (max-width: 576px) {
  .formBox {
    padding: 15px;
  }
}
